@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Kumbh+Sans:wght@300;400;700&display=swap");

/* HTML */

html {
  font-size: 62.5%;
}

/* Navbar */

#navbar-tcp {
  background-color: #f8f8ffff;
  color: #0b3037;
  text-transform: uppercase;
  letter-spacing: 1vw;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999999;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav-link {
  background-color: #ffedeb;
  color: #0b3037;
  font-size: 3vw;
  font-family: "Allerta Stencil", sans-serif;
  margin: 1vw 2vw;
  text-align: center;
  border-radius: 1vw;
}

#navbar-brand {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 5vw;
  color: #0b3037;
  padding: 0;
}

.custom-toggler.navbar-toggler {
  border-color: #0b3037;
  border-width: 0.2vw;
  border-style: groove;
  box-shadow: 0.2vw -0.2vw 0.1vw #0b3037;
  padding: 0;
  width: 5vw;
  height: 5vw;
  margin-right: 2vw;
}

.fas.fa-coffee {
  color: #0b3037;
  font-size: 3vw;
  display: grid;
}

/* Logo */

#navbar-logo {
  width: 10vw;
  height: auto;
  margin-left: 2vw;
}

/* Body */

body {
  font-family: "Kumh Sans", sans-serif;
  font-size: 1.6rem;
}

/* Footer */

footer {
  background-color: #f8f8ffff;
  color: #0b3037;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.fab, .far {
    color: #ed8074;
}

/* Media Queries */

@media (min-width: 992px) {
  .nav-link {
    font-size: 1vw;
    margin: 0.5vw;
    text-align: center;
    width: 16vw;
    height: 5vw;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0.2vw -0.2vw 0.1vw #0b3037;
  }

  #nav-blend {
    display: none;
  }

  .nav-icons {
    font-size: 2vw;
    width: 100%;
  }

  #navbar-brand {
    font-size: 2vw;
    padding: 1vw;
  }

  #navbar-logo {
    width: 5vw;
    margin-left: 2vw;
  }
}
