@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Kumbh+Sans:wght@300;400;700&display=swap");

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Kumh Sans", sans-serif;
    background-color: #f8f8ff; 
    font-size: 1.6rem;
  }

p {
    text-align: justify;
    margin: 1vw;
    color: #0b3037;
}

a {
    color: #ed8074;
}

/* Navbar */

#navbar-tcp {
    background-color: #f8f8ff;
    color: #0b3037;
    text-transform: uppercase;
    letter-spacing: 1vw;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999999;
    padding: 0;
    margin: 0;
}

.nav-link {
    background-color: #ed8074;
    color: #0b3037;
    font-size: 3vw;
    font-family: "Allerta Stencil", sans-serif;
    margin: 1vw 2vw;
    text-align: center;
    border-radius: 1vw;
}

#navbar-brand {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 5vw;
    color: #0b3037;
    padding: 0;
}

.custom-toggler.navbar-toggler {
    border-color: #0b3037;
    border-width: 0.2vw;
    border-style: groove;
    box-shadow: 0.2vw -0.2vw 0.1vw #0b3037;
    padding: 0;
    width: 5vw;
    height: 5vw;
    margin-right: 2rem;
}

.fas.fa-coffee {
    color: #0b3037;
    font-size: 3vw;
    display: grid;
}

/* Logo */

#navbar-logo {
    width: min(max(2rem, 10vw), 5rem);
    height: auto;
    margin-left: 2vw;
}

/* Hero Containers */

.top-container-img {
    text-align: center;
    margin-top: 3rem;
} 

.hero-container {
    margin: 0 auto;
    text-align: center;
    }

.text-block-top {
    background-color: rgba(237, 128, 116, 0.8);
    color:  #0b3037;
    font-size: min(max(1.8rem, 2.1vw),3rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 80%;
    margin: 10vh auto;
}


.text-block-middle {
    background-color: rgba(248, 248, 255, 0.8);
    color:  #0b3037;
    font-size: min(max(1.6rem, 2.1vw),2rem);
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 90%;
}

.button-block {
    font-size: min(max(1.7rem, 2.1vw),2.5rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    min-width: 60%;
    margin: 10vh auto;
}

.text-block-bottom {
    background-color: rgba(237, 128, 116, 0.8);
    color:  #0b3037;
    font-size: min(max(1.7rem, 2.1vw),2.5rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    min-width: 60%;
    margin: 10vh auto;
}

.background-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60vh;    
}

#espresso-img {
    background-image: url(../images/espresso-white-background.jpg);
}
#warehouse-img {
    background-image: url(../images/lab_b&w_background.jpg);
}
#kalita-img {
    background-image: url(../images/kalitav60_background.jpg);
}

.couple-img {
    background-image: url(../images/couple_background.jpg)
}

/* Subscription section */

.subscription-bg-img {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 40vh;
}

.subscription-container {
    background-color: rgba(248, 248, 255, 0.8);
    color: #0B3037;
    margin: 1rem auto;
    padding: 1rem;
    display: inline-block;
}

#subscription-heading {
    background-color: rgba(237, 128, 116, 0.8);
    color:  #0b3037;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 700;
}

#coffee-newsletter {
    background-image: url(../images/newsletter_background.jpg);
    background-position: center center;
}

#newsform {
    text-align: center;
}

#inlineFormInput {
    font-size: min(max(1.1rem, 2.1vw),2rem);
    margin: auto;
    max-width: 40rem;
    text-align: center;
}

/* Carousels */


#image-brazil {
    background-image: url(../images/brazil_background.jpg);
    }

#image-colombia {
    background-image: url(../images/colombia_background.jpg);
    }

#image-kenya {
    background-image: url(../images/kenya_background.jpg);
    }

#image-vietnam {
    background-image: url(../images/vietnam_background.jpg);
    }

#image-ethiopia {
    background-image: url(../images/ethiopia_background.jpg);
}

#image-cinnamon {
    background-image: url(../images/cinnamon_roast.jpg);
}

#image-city {
    background-image: url(../images/city_roast.jpg);
}

#image-full-city {
    background-image: url(../images/full_city_roast.jpg);
}

#image-american {
    background-image: url(../images/american_roast.jpg);
}

#image-french {
    background-image: url(../images/french_roast.jpg);
}

.body-container {
    background-color: rgba(248, 248, 255, 0.8);
    color: #0B3037;
    margin: 1rem;
}

.carousel-heading {
    background-color: rgba(237, 128, 116, 0.8);
    font-size: 3rem;
    color: #0b3037;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.carousel-body {
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;    
}

.carousel-footer {
    background-color: rgba(237, 128, 116, 0.8);
    font-size: 1.6rem;
    color: #0b3037;
    text-align: center;
    font-weight: 700;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 10%;
}

.fa-arrow-circle-right, .fa-arrow-circle-left {
    color:#ed8074;
    font-size: min(max(2rem, 2.5vw),4rem);
}

.graphimg {
    width: 100%;
    height: auto;
}

/* Carousel Store */

 .dropdownlist {
    font-size: min(max(1.1rem, 2.1vw),2.5rem);
    color: inherit;
    text-align: center;
} 

.origin-input {
    text-align: center;
    padding: 1rem;
}

.input-group-text {
    background-color: unset;
    border: unset;
    color: inherit;
    font-size: min(max(1.6rem, 2.1vw),2.5rem);
    display: flex;
    justify-content: flex-end;
    padding: 0;
} 

 .npbuttons {
    margin: 1rem auto;
    text-align: center;
} 

.checkbox {
    text-align: center;
    font-weight: 700;
    margin: 0.5rem 0;
}

.grind-select {
    margin: 0.5rem auto;
}

.final-input {
    padding: 0 10rem;
}

.contact-labels {
    padding: 0.5rem 0;
    font-size: min(max(1.6rem, 2.1vw),2rem);
}

.smalltext {
    font-size: min(max(1.2rem, 1vw),2rem);
    display: inline;
}

.p-intro {
    text-align: center;
    font-weight: 400;
}

.form-control {
    font-size: min(max(1.6rem, 2.1vw),2rem);
    padding: 0.5rem 0 ;
}

.dropdownlist:focus, .form-control:focus {
    border-color: #ed8074;
    box-shadow: 0 0 0 0.4rem rgba(237, 128, 116, 0.25);
}

/* Footer */

footer {
    background-color: #f8f8ff;
    color: #0b3037;
    width: 100vw;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.fab,
.far {
    color: #ed8074;
    margin: 1rem;
}

#news-icon-nav {
    color: unset;
    margin: 0;
}

#social-links {
    font-size: 2rem;
}

/* Buttons */

.buttons {
    color: #0b3037;
    background-color: #ed8074;
    transition: background-color 2s;
    border-radius: 3rem;
    display: inline-block;
    padding: 1px 6px;
    border: 0.3rem solid #0b3037;
    font-weight: 700;
    font-size: min(max(1.1rem, 2.1vw),2rem);
}

.buttons:hover{
    background: linear-gradient(120deg, #f8f8ff 15%, #ed8074);    
    color: #0b3037;
    text-decoration: unset;
}

/* Bootstrap modals */

.modal-content {
    width: 90%;
    color: #0b3037;
}

.modal-header {
    background-color: rgba(237, 128, 116, 0.8);
}

.modal-title {
    font-size: min(max(1.5rem, 2.1vw),2.8rem);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.modal-title > .far {
    color: inherit;
}

.modal-body {
    font-size: min(max(1.1rem, 2.1vw),2.5rem);
    text-align: justify;
}


@media (min-width: 992px) {
    
    /* General styling */

    a:hover {
        color:#1d7a8c;
        text-decoration: none;
    }
 
    /* Navigation */

    .nav-link {
        font-size: min(max(1rem, 1vw),2rem);
        font-weight: 700;
        border-top: double #ed8074;
        border-bottom: double #ed8074;
        background-color: unset;
        border-radius: unset;
        margin: 0.5vw;
        height: auto;
    }

    .nav-link:hover {
        transition: ease-in 0.6s;
        box-shadow: inset 0 6rem 0 0 #ed8074;
        color: #0b3037;
    }

    .active{
        background-color: #ed8074;    
        color: #0b3037;
    }

    .nav-icons {
        font-size: 1.5vw;
    }

    #navbar-brand {
        font-size: 2vw;
        padding: 1vw;
    }

    #navbar-logo {
        width: 5vw;
        margin-left: 2vw;
    }

  /* Hero Containers */

    .top-container-img {
        margin-top: 6rem;
    } 

    .text-block-middle {
        width: 60%;
    }

    .background-img {
      height: 70vh;
    }

    /* Carousel */

    .carousel-paragraph {
        padding: 0 5rem;
        font-size: 2rem;
    }

    .carousel-footer {
        font-size: 2rem;
    }

    .checkbox {
        text-align: left;
        padding-left: 20rem;
    }
}